name: Cache

on:
  push:
    paths:
      - .github/workflows/cache.yml
  schedule:
    - cron: "0 */6 * * *" # every 6 hours

concurrency:
  group: cache
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  update:
    strategy:
      matrix:
        os:
          - macos-11.0
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup and Cache Homebrew Gems
        if: always()
        uses: mohzulfikar/actions-homebrew/setup-cache@setup-cache